<div class="row mt-4">
  <div class="col-12">
    <mat-card>
      <div class="row">
        <div class="col">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto">
              <mat-card-title>{{ titlePage }}</mat-card-title>
              <mat-card-subtitle>{{ subTitle }}</mat-card-subtitle>
            </div>
            <div class="col-auto" *ngIf="imagesDelete.length > 0">
              <button mat-raised-button color="warn" (click)="deleteImages()">
                Descargar y eliminar
              </button>
            </div>
          </div>
        </div>
      </div>
      <section *ngIf="!isLoading">
        <div class="row mt-3" *ngIf="imagesMappper.length > 0">
          <div class="col-12">
            <div class="table-container">
              <table mat-table [dataSource]="dataSourceImages" class="mat-elevation-z8 w-100">
                <ng-container matColumnDef="name">
                  <th mat-header-cell class="text-center" *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element" class="border-dable">
                    <p (click)='goToImage(element.url)'>{{element.nameShow}}</p>
                  </td>
                </ng-container>

                <ng-container matColumnDef="type">
                  <th mat-header-cell class="text-center" *matHeaderCellDef> Tipo </th>
                  <td mat-cell *matCellDef="let element" class="text-center border-dable">
                    {{element.type}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="date">
                  <th mat-header-cell class="text-center" *matHeaderCellDef> Fecha </th>
                  <td mat-cell *matCellDef="let element" class="text-center border-dable">
                    {{element.date  | date: 'dd/MM/yyyy'}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="hour">
                  <th mat-header-cell class="text-center" *matHeaderCellDef> Hora </th>
                  <td mat-cell *matCellDef="let element" class="text-center border-dable">
                    {{element.date  | date: 'HH:mm:ss'}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="url">
                  <th mat-header-cell class="text-center" *matHeaderCellDef> Imagen </th>
                  <td mat-cell *matCellDef="let element" class="border-dable">
                    <div class="row  justify-content-center" (click)='goToImage(element.url)'>
                      <div style="width: 100px; height: 100px;">
                        <img style="width: 100%;height: 100%;" [src]="element.url" alt="element.name">
                      </div>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <th mat-header-cell class="text-center" *matHeaderCellDef>
                    <mat-icon *ngIf="imagesDelete.length === 0" class="cursor-pointer" (click)="selectedAllImages()">
                      delete_outline</mat-icon>
                    <mat-icon *ngIf="imagesDelete.length > 0" color='warn' class="cursor-pointer"
                      (click)="deSelectedAll()">
                      delete_forever</mat-icon>
                  </th>
                  <td mat-cell *matCellDef="let element" class="border-dable">
                    <div class="row  justify-content-center">
                      <mat-checkbox [checked]="element.selected" (change)="checkDeleteFile(element)">
                      </mat-checkbox>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row mt-5" *ngIf="imagesMappper.length == 0">
          <div class="col-12 text-center">
            <h2>
              No se encontrarón registros
            </h2>
          </div>
        </div>
      </section>
      <section *ngIf="isLoading">
        <div class="row mt-5">
          <div class="col-12 text-center">
            <h2>
              Cargando
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </section>
    </mat-card>
  </div>
</div>
