<div class="row mt-4">
  <div class="col-12">
    <mat-card>
      <div class="row">
        <div class="col">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto">
              <mat-card-title>{{ titlePage }}</mat-card-title>
              <mat-card-subtitle>{{ subTitle }}</mat-card-subtitle>
            </div>
            <div class="col-auto">
              <button
                mat-fab
                class="bg-color-secundary-corporative"
                aria-label="add segment"
                (click)="addNewPeople()"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

    </mat-card>
  </div>
</div>
