.input-file {
  position: relative;
  width: 180px;
  button {
    width: 100%;
  }
  input {
    cursor: pointer;
    left: 0px;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 9;
  }
}

.data {
  .data-section {
    margin: 16px 0;
    .header {
      * {
        font-weight: bold;
        margin: 0;
      }
    }
  }
}
