<section>
  <h1 mat-dialog-title>{{form.title}}</h1>
  <form class="form-company" [formGroup]="formCompany">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Identificación (Nit)</mat-label>
          <input required type="number" autocomplete="off" matInput placeholder="Identificación (Nit)"
            formControlName="identification" maxlength="20">
        </mat-form-field>
        <ng-container *ngFor="let validation of validationMessages.identification">
          <mat-error class="errorMessages" *ngIf="formCompany.get('identification').hasError(validation.type)
                    && (formCompany.get('identification').dirty
                    || formCompany.get('identification').touched)">
            {{ validation.message }}
          </mat-error>
        </ng-container>
      </div>
      <div class="col-lg-4 col-md-4 col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Razón Social</mat-label>
          <input required autocomplete="off" matInput placeholder="Razón Social" formControlName="name" maxlength="100">
        </mat-form-field>
        <ng-container *ngFor="let validation of validationMessages.name">
          <mat-error class="errorMessages" *ngIf="formCompany.get('name').hasError(validation.type)
                    && (formCompany.get('name').dirty
                    || formCompany.get('name').touched)">
            {{ validation.message }}
          </mat-error>
        </ng-container>
      </div>
      <div class="col-lg-4 col-md-4 col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Tipo</mat-label>
          <input required autocomplete="off" matInput placeholder="Tipo" formControlName="type" maxlength="45">
        </mat-form-field>
        <ng-container *ngFor="let validation of validationMessages.type">
          <mat-error class="errorMessages" *ngIf="formCompany.get('type').hasError(validation.type)
                    && (formCompany.get('type').dirty
                    || formCompany.get('type').touched)">
            {{ validation.message }}
          </mat-error>
        </ng-container>
      </div>
    </div>
  </form>
  <div mat-dialog-actions class="justify-content-center mt-3">
    <section>
      <button mat-raised-button (click)="onNoClick()">Cancelar</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="formCompany"
        [disabled]="!formCompany.valid">Guardar</button>
    </section>
  </div>
</section>
