/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor-pointer{
  cursor: pointer;
}

.bg-color-corporative {
  background-color: #17107b;
  color: #fff;
}

.bg-color-secundary-corporative {
  background-color: #e0d43f !important;
  color: #fff !important;
}

.color-red {
  color: #e43333
}

.color-blue {
  color: #25a8e8
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}
